<!DOCTYPE HTML>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Yelpcamp</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <% if (!currentUser) { %>
                            <li class="nav-link"><a href="/login"> LogIn </a></li>
                            <li class="nav-link"><a href="/register"> SignUp </a></li>
                        <% } else { %>
                            <li class="nav-link"><a href="#">Signed In As <%= currentUser.username %></a></li>
                            <li class="nav-link"><a href="/logout"> LogOut </a></li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
            
            <div class="container">
                <% if(error && error.length > 0) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0) { %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
            </div>
                
